<h2>Your Friends' Summer</h2>


<% @summer_feed.each do |f| %>
  <div class="well">
    <div class="row user-info-row">
      <div class="col-xs-12">
        <%= image_tag f[:user][:profile_picture], :class => 'profile-photo' %>
        <h4 class="username"><%= f[:user][:full_name] %></h4>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12">
        <%= image_tag f[:images][:standard_resolution][:url], :class => 'detail-photo' %>
      </div>
    </div>
    <div class="row">
      <p class="text-center"><%= f[:caption][:text] %></p>
    </div>
  </div>
<% end %>


<h2> The World's Summer</h2>
<% @global_summer_feed.each do |f| %>
  <div class="well">
    <div class="row user-info-row">
      <div class="col-xs-12">
        <%= image_tag f[:user][:profile_picture], :class => 'profile-photo' %>
        <h4 class="username"><%= f[:user][:full_name] %></h4>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-xs-12">
        <%= image_tag f[:images][:standard_resolution][:url], :class => 'detail-photo' %>
      </div>
    </div>
    <div class="row">
      <p class="text-center"><%= f[:caption][:text] %></p>
    </div>
  </div>
<% end %>

